.main-color {
  color: black;
}

.sub-color {
  color: #c0c0c0;
}

.secondary-color {
  color: #a8a7a3;
}

.link:hover, #header-title:hover {
  color: #00aee8;
}

#header-title:hover {
  transition: all 0.2s;
}